<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE preferences SYSTEM 'http://java.sun.com/dtd/preferences.dtd'>

<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="user">
    <map />
    <node name="geoirc">
      <map />
      <node name="config">
        <map>
          <entry key="default download directory" value="downloads/" />
          <entry key="confirm receive" value="true" />
        </map>
      </node>
      <node name="gui">
        <map>
          <entry key="skin1" value="themes/aqua/gtk/gtkrc" />
          <entry key="skin2" value="themes/aqua/kde/kde.themerc" />
          <entry key="start maximized" value="True" />
        </map>
        <node name="desktop">
          <map />
          <node name="0">
            <map>
              <entry key="type" value="class geoirc.GITextWindow" />
              <entry key="title" value="Debug" />
              <entry key="x" value="278" />
              <entry key="y" value="15" />
              <entry key="height" value="500" />
              <entry key="width" value="700" />
              <entry key="filter" value="debug" />
            </map>
          </node>
        </node>
        <node name="input field">
          <map>
            <entry key="font face" value="Lucida Console" />
            <entry key="font size" value="14" />
          </map>
        </node>
        <node name="text windows">
          <map>
            <entry key="font face" value="Lucida Console" />
            <entry key="font size" value="14" />
          </map>
        </node>
      </node>
      <node name="keyboard">
        <map>
          <entry key="|Up" value="previous_history_entry" />
          <entry key="|Down" value="next_history_entry" />
          <entry key="Alt|Left" value="previouswindow" />
          <entry key="Alt|Right" value="nextwindow" />
        </map>
      </node>
      <node name="personal">
        <map>
          <entry key="nick1" value="GeoIRC_User" />
          <entry key="nick2" value="GeoIRC|User" />
          <entry key="nick3" value="GeoIRCUser" />
        </map>
      </node>
      <node name="test">
        <map>
          <entry key="testval" value="ooga" />
        </map>
      </node>
    </node>
  </root>
</preferences>

