<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE preferences SYSTEM 'http://java.sun.com/dtd/preferences.dtd'>

<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="user">
    <map />
    <node name="geoirc">
      <map />
      <node name="command aliases">
        <map />
        <node name="0">
          <map>
            <entry key="alias" value="ns" />
            <entry key="expansion" value="sendraw PRIVMSG NickServ :&amp;1" />
          </map>
        </node>
        <node name="1">
          <map>
            <entry key="alias" value="cs" />
            <entry key="expansion" value="sendraw PRIVMSG ChanServ :&amp;1" />
          </map>
        </node>
        <node name="2">
          <map>
            <entry key="alias" value="ms" />
            <entry key="expansion" value="sendraw PRIVMSG MemoServ :&amp;1" />
          </map>
        </node>
        <node name="3">
          <map>
            <entry key="alias" value="ss" />
            <entry key="expansion" value="sendraw PRIVMSG SeenServ :&amp;1" />
          </map>
        </node>
        <node name="4">
          <map>
            <entry key="alias" value="id" />
            <entry key="expansion" value="sendraw PRIVMSG NickServ :IDENTIFY &amp;1" />
          </map>
        </node>
        <node name="5">
          <map>
            <entry key="alias" value="openurl" />
            <entry key="expansion" value="exec C:\Program Files\Opera7\opera.exe &amp;1" />
          </map>
        </node>
        <node name="6">
          <map>
            <entry key="alias" value="openlasturl" />
            <entry key="expansion" value="exec C:\Program Files\Opera7\opera.exe %lasturl" />
          </map>
        </node>
        <node name="7">
          <map />
        </node>
      </node>
      <node name="connections">
        <map />
        <node name="0">
          <map />
        </node>
      </node>
      <node name="dcc">
        <map>
          <entry key="lowest port" value="2000" />
          <entry key="highest port" value="5000" />
        </map>
        <node name="file transfers">
          <map>
            <entry key="confirm receive" value="true" />
            <entry key="download directory" value="./downloads/" />
            <entry key="maximum received file size" value="20480000" />
            <entry key="packet size" value="8192" />
          </map>
        </node>
      </node>
      <node name="gui">
        <map>
          <entry key="skin1" value="themes/whistler/gtk/gtkrc" />
          <entry key="skin2" value="themes/whistler/kde/kde.themerc" />
          <entry key="windowbar position" value="top" />
          <entry key="nudge amount" value="28" />
          <entry key="new content button colour" value="ff0000" />
          <entry key="main frame x" value="0" />
          <entry key="main frame y" value="0" />
          <entry key="main frame width" value="1280" />
          <entry key="main frame height" value="1024" />
          <entry key="main frame state" value="6" />
          <entry key="notices in active window" value="true" />
        </map>
        <node name="desktop">
          <map />
          <node name="panes">
            <map />
            <node name="0">
              <map>
                <entry key="type" value="0" />
                <entry key="title" value="GeoIRC" />
                <entry key="parent" value="-1" />
                <entry key="split rank" value="-1" />
              </map>
            </node>
            <node name="1">
              <map>
                <entry key="type" value="1" />
                <entry key="title" value="GeoIRC" />
                <entry key="parent" value="0" />
                <entry key="split rank" value="-1" />
              </map>
            </node>
            <node name="2">
              <map>
                <entry key="type" value="3" />
                <entry key="title" value="%debug" />
                <entry key="parent" value="5" />
                <entry key="split rank" value="-1" />
                <entry key="filter" value="%debug" />
              </map>
            </node>
            <node name="3">
              <map>
                <entry key="type" value="2" />
                <entry key="title" value="x" />
                <entry key="parent" value="-1" />
                <entry key="split rank" value="-1" />
                <entry key="x" value="120" />
                <entry key="y" value="120" />
                <entry key="height" value="500" />
                <entry key="width" value="700" />
                <entry key="state" value="0" />
                <entry key="selected" value="false" />
              </map>
            </node>
            <node name="4">
              <map>
                <entry key="type" value="3" />
                <entry key="title" value="x" />
                <entry key="parent" value="3" />
                <entry key="split rank" value="-1" />
                <entry key="filter" value="x" />
              </map>
            </node>
            <node name="5">
              <map>
                <entry key="type" value="2" />
                <entry key="title" value="%debug" />
                <entry key="parent" value="-1" />
                <entry key="split rank" value="-1" />
                <entry key="x" value="140" />
                <entry key="y" value="140" />
                <entry key="height" value="500" />
                <entry key="width" value="700" />
                <entry key="state" value="0" />
                <entry key="selected" value="true" />
              </map>
            </node>
          </node>
        </node>
        <node name="format">
          <map>
            <entry key="timestamp" value="HH:mm:ss" />
            <entry key="maximum nick width" value="20" />
            <entry key="complete join message" value="true" />
          </map>
          <node name="mirc colours">
            <map>
              <entry key="0" value="ffffff" />
              <entry key="1" value="000000" />
              <entry key="2" value="00007d" />
              <entry key="3" value="007d00" />
              <entry key="4" value="ff0000" />
              <entry key="5" value="7d0000" />
              <entry key="6" value="7d007d" />
              <entry key="7" value="ff7d00" />
              <entry key="8" value="ffff00" />
              <entry key="9" value="00ff00" />
              <entry key="10" value="007d7d" />
              <entry key="11" value="00ffff" />
              <entry key="12" value="0000ff" />
              <entry key="13" value="ff00ff" />
              <entry key="14" value="7d7d7d" />
              <entry key="15" value="c8c8c8" />
            </map>
          </node>
        </node>
        <node name="info windows">
          <map>
            <entry key="sort order" value="1" />
          </map>
        </node>
        <node name="input field">
          <map>
            <entry key="font face" value="Lucida Console" />
            <entry key="font size" value="14" />
            <entry key="foreground colour" value="000000" />
            <entry key="background colour" value="ffffff" />
          </map>
        </node>
        <node name="text windows">
          <map>
            <entry key="font face" value="Lucida Console" />
            <entry key="font size" value="14" />
            <entry key="default foreground colour" value="cccccc" />
            <entry key="default background colour" value="000000" />
            <entry key="alternate background colour" value="000000" />
          </map>
          <node name="highlighting">
            <map />
            <node name="0">
              <map>
                <entry key="filter" value="not from=%self" />
                <entry key="regexp" value=".*GeoIRC_User.*" />
                <entry key="format" value="bg0000ff" />
              </map>
            </node>
            <node name="1">
              <map>
                <entry key="filter" value="from=%self" />
                <entry key="regexp" value=".*" />
                <entry key="format" value="fgff9933" />
              </map>
            </node>
            <node name="2">
              <map>
                <entry key="filter" value="" />
                <entry key="regexp" value="&lt;(.+?)&gt; .*" />
                <entry key="format" value="fgffffff" />
              </map>
            </node>
            <node name="3">
              <map>
                <entry key="filter" value="" />
                <entry key="regexp" value="^-(.+?)- .*" />
                <entry key="format" value="fgffffff" />
              </map>
            </node>
            <node name="4">
              <map />
            </node>
          </node>
        </node>
      </node>
      <node name="keyboard">
        <map>
          <entry key="Alt|Left" value="previouswindow" />
          <entry key="Alt|Right" value="nextwindow" />
          <entry key="|Down" value="next_history_entry" />
          <entry key="|Up" value="previous_history_entry" />
          <entry key="Ctrl|Up" value="nudgeup" />
          <entry key="Ctrl|Down" value="nudgedown" />
          <entry key="|Page Up" value="pageup" />
          <entry key="|Page Down" value="pagedown" />
          <entry key="|F2" value="nick Pistos|afk" />
          <entry key="|F3" value="nick GeoIRC_User" />
          <entry key="|F9" value="nick Pistos" />
          <entry key="|F12" value="openlasturl" />
          <entry key="Ctrl|F4" value="closewindow" />
          <entry key="Ctrl|F5" value="restorewindow" />
          <entry key="Ctrl|F9" value="minimizewindow" />
          <entry key="Ctrl|F10" value="maximizewindow" />
          <entry key="Ctrl|1" value="switchwindow .*geoshell.*" />
          <entry key="Ctrl|2" value="switchwindow .*geoirc.*" />
          <entry key="Ctrl|3" value="switchwindow .*geocards.*" />
          <entry key="Ctrl|4" value="switchwindow .*statfreak.*" />
          <entry key="Ctrl|5" value="switchwindow .*christian.*" />
          <entry key="Ctrl|0" value="switchwindow .*%raw.*" />
          <entry key="Ctrl|B" value="charbold" />
          <entry key="Ctrl|N" value="charitalic" />
          <entry key="Ctrl|U" value="clearinputfield" />
          <entry key="Ctrl|O" value="charnormal" />
          <entry key="Ctrl|K" value="charcolour" />
          <entry key="Ctrl|V" value="extendedpaste" />
          <entry key="Ctrl|W" value="closewindow" />
          <entry key="|Tab" value="completenick" />
          <entry key="Shift|Tab" value="focus_on_input_field" />
        </map>
      </node>
      <node name="logs">
        <map>
          <entry key="default log path" value="./logs/" />
          <entry key="log start message" value="&apos;**** Logging begun at &apos;yyyy-MM-dd HH:mm:ss&apos; ****&apos;" />
        </map>
        <node name="0">
          <map>
            <entry key="filter" value="#geoirc and irc.freenode.net" />
            <entry key="regexp" value=".*" />
            <entry key="file" value="./logs/#geoirc.log" />
          </map>
        </node>
        <node name="1">
          <map>
            <entry key="filter" value="%debug" />
            <entry key="regexp" value=".*" />
            <entry key="file" value="./logs/debug.log" />
          </map>
        </node>
        <node name="2">
          <map />
        </node>
      </node>
      <node name="misc">
        <map>
          <entry key="nick completion suffix" value=": " />
          <entry key="nick completion prefix" value="" />
          <entry key="quit message" value="http://purepistos.net/geoirc/" />
          <entry key="global pre-filter" value="" />
          <entry key="server timeout" value="60000" />
        </map>
        <node name="paste flood">
          <map>
            <entry key="allowance" value="4" />
            <entry key="delay" value="1000" />
          </map>
        </node>
        <node name="word memory">
          <map>
            <entry key="minimum word length" value="4" />
          </map>
        </node>
      </node>
      <node name="personal">
        <map>
          <entry key="nick1" value="GeoIRC_User" />
          <entry key="nick2" value="GeoIRC|User" />
          <entry key="nick3" value="GeoIRCUser" />
        </map>
        <node name="ctcp">
          <map>
            <entry key="version" value="" />
            <entry key="userinfo" value="http://purepistos.net/geoirc/" />
          </map>
        </node>
        <node name="ident">
          <map>
            <entry key="username" value="geoircuser" />
            <entry key="os" value="Unknown OS" />
          </map>
        </node>
      </node>
      <node name="triggers">
        <map />
        <node name="0">
          <map>
            <entry key="filter" value="" />
            <entry key="regexp" value=".*[Pp]istos.*" />
            <entry key="command" value="play sounds/bloop.wav" />
          </map>
        </node>
        <node name="1">
          <map>
            <entry key="filter" value="not ( %join or %part or %quit or %pong )" />
            <entry key="regexp" value=".*" />
            <entry key="command" value="play sounds/blip.wav" />
          </map>
        </node>
        <node name="2">
          <map>
            <entry key="filter" value="%join or %part or %quit" />
            <entry key="regexp" value=".*" />
            <entry key="command" value="play sounds/motion.wav" />
          </map>
        </node>
        <node name="3">
          <map>
            <entry key="filter" value="%page" />
            <entry key="regexp" value=".*" />
            <entry key="command" value="play sounds/page.wav" />
          </map>
        </node>
        <node name="4">
          <map />
        </node>
      </node>
      <node name="variables">
        <map />
        <node name="captured">
          <map />
          <node name="0">
            <map>
              <entry key="filter" value="" />
              <entry key="regexp" value="((?:http://\S+)|(?:www\.\S+))" />
              <entry key="name" value="lasturl" />
            </map>
          </node>
          <node name="1">
            <map>
              <entry key="filter" value="%privmsg" />
              <entry key="regexp" value="^(.*)$" />
              <entry key="name" value="lastline" />
            </map>
          </node>
          <node name="2">
            <map />
          </node>
        </node>
        <node name="constants">
          <map />
          <node name="0">
            <map />
          </node>
        </node>
      </node>
    </node>
  </root>
</preferences>

